# Dependencias
  node_modules/
  .pnpm-store/
  .bun/

  # Builds / artefactos
  dist/
  .vite/
  coverage/

  # Logs
  npm-debug.log*
  yarn-debug.log*
  pnpm-debug.log*
  *.log

  # Variables de entorno locales
  .env
  .env.*
  !.env.example

  # IDE / SO
  .vscode/
  .idea/
  *.iml
  .DS_Store
  Thumbs.db
